.signup-form {
  width: 80%;
  margin: 0 auto;
}

.login_page {
  margin-top: 25%;
}

.login_form_field {
  border-style: none;
  text-align: center;
}

.navbar {
  visibility: hidden;
}

.login_page_title {
  
}
