.navbar {
  visibility: visible;
}

.post_show_page {
  margin-left: 25%;
  margin-right: 25%;
}

.post_show_title_username {
  margin-bottom: 25px;
}

.post_show_title {
  text-decoration: underline;
}

.post_show_username {
  font-size: 16pt;
}

.post_show_edit_delete {

}

.post_show_image {

}
.posts_show_all_likes {

}

.posts_show_like_button {
  
}
